$dark-shade100: #1f2041;
$dark-shade75: rgba($dark-shade100, 0.75);
$dark-shade50: rgba($dark-shade100, 0.5);
$dark-shade25: rgba($dark-shade100, 0.25);
$dark-shade5: rgba($dark-shade100, 0.05);

$purple: #bc9cff;
$green: #6fcf97;
$blue: #8ba4f9;

$gradient: linear-gradient(to bottom, $purple, $blue);
