.group-of-fields {
  display: flex;
  justify-content: space-between;
  &__item input {
    max-width: 150px;
  }
}

.field {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z' fill='%231F2041' fill-opacity='0.5'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 24px;
    height: 20px;
    margin-left: -34px;
    top: 31px;
    cursor: pointer;
  }
  &__title {
    margin-bottom: 5px;
  }
  &__input {
    border: $dark-shade25 solid 1px;
    padding: 13px 15px;
    border-radius: 4px;
    color: $dark-shade75;
    font-size: 14px;
    width: 100%;
  }
}
