doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title TOXIN | Бронирование номеров в лучшем отеле
  body.page
    include pug_modules/header

    section.search
      .container.search__container
        .card
          h1.card__title Найдём номера под ваши пожелания
          form.form
            .group-of-fields.form__group-of-fields
              .group-of-fields__item.field
                h2.field__title
                  label(for="checkin") прибытие
                input.field__input(id="checkin" placeholder="ДД.ММ.ГГГГ" name="date-of-checkin")  
              .group-of-fields__item.field
                h2.field__title 
                  label(for="checkout") выезд
                input.field__input( id="checkout" placeholder="ДД.ММ.ГГГГ" name="date-of-checkout" )  
            .field
              h2.field__title 
                label(for="guests") гости
              input.field__input( id="guests" placeholder="Сколько гостей" name="count-of-guests" )  
            button.form__btn.button.gradient-btn.btn-with-arrow(type="button" aria-label="перейти к подбору номера") 
              a(href="#") подобрать номер
        p.search__description Лучшие номера для вашей работы, отдыха и просто вдохновения

    include pug_modules/footer