@import "./utils/mixins.scss";
@import "./utils/fonts.scss";
@import "./utils/vars.scss";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: $dark-shade100;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

ul,
li {
  list-style: none;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
h1 {
  font-weight: 700;
  font-size: 24px;
}
h2 {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}
h3 {
  font-weight: 700;
  font-size: 19px;
}
p {
  color: $dark-shade75;
  font-size: 14px;
  line-height: 24px;
}

.container {
  height: 100%;
  max-width: 1189px;
  margin: 0 auto;
  padding: 0 15px 0 16px;
}
.inner {
  display: flex;
  justify-content: space-between;
  &__right-elements {
    display: flex;
    align-items: center;
  }
}

@import "./scss_blocks/cards.scss";
@import "./scss_blocks/buttons.scss";
@import "./scss_blocks/fields.scss";

@import "./scss_modules/header.scss";

.search {
  background-image: url(../images/bg-image-room1.jpg);
  background-repeat: no-repeat;
  background-position: center 0%;
  background-size: auto;
  max-width: 1440px;
  min-height: 740px;
  margin: 0 auto;
  padding: 71px 0 20px 0;
  &__container {
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__description {
    align-self: flex-end;
    max-width: 296px;
    text-align: right;
    margin-right: -5px;
    margin-bottom: 2px;
  }
}

.form {
  &__group-of-fields {
    margin-bottom: 22px;
  }
  &__btn {
    margin: 31.5px 0 0 -2px;
    width: 100%;
  }
}

@import "./scss_modules/footer.scss";
